<nav class="navbar nav-bar sticky-top mb-4">
  <div class="container-fluid">
    <a class="nav-link active nav-items " aria-current="page" href="/admin/student/attendance">

      <img src="/images/logo.png" width="50px" height="50px" style="border-radius: 50px; margin-left: 24px">
    </a>
    <div class="ms-5 mt-2">
      <h3 class="text-2xl font-bold text-center text-black">Attendance Portal</h3>
      <p class="text-center text-black nav-line">Aligarh College of Engineering & Technology</p>
    </div>
    <button class="navbar-toggler ms-4 mb-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">ACITIANS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 font-bold">
          <li class="nav-item">
            <a class="nav-link active nav-items ms-2" aria-current="page" href="/admin/student/attendance">Home</a>
          </li>

          <!--  -->

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <b>Manage Data</b>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/add/teacherData">Add Teacher</a></li>
              <li><a class="dropdown-item" href="/add/studentData">Add student</a></li>
              <li><a class="dropdown-item" href="/add/subjectData">Add subject</a></li>
            </ul>
          </li>
          <!--  -->




          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <b> Manage Class & Section</b>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/add/class">Create Class</a></li>
               <li><a class="dropdown-item" href="/add/section">Create Section</a></li>

            </ul>
          </li>



          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <b> Manage Assigning</b>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/assign/teacher/subject/class">Teacher Assigning</a></li>
              <li><a class="dropdown-item" href="/assign/student/subject">Student Assigning</a></li>
            </ul> 

          </li>
  
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <b> Attendance Status</b>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/show/status/today/attendance">Today Status</a></li>
              <li><a class="dropdown-item" href="/show/allStudent/status">Status</a></li>
            </ul> 

          </li>

          <li class="nav-item">
            <a class="nav-link nav-items" href="/admin/show/feed">Show Feeds</a>
          </li>



          <li class="nav-item mt-2 nav-items">
            <a class="nav-link ms-4 " href="/admin/logout"><i class="fa-solid fa-right-to-bracket fa-shake"></i></a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>