<footer class="text-center text-lg-start text-white bg-dark mt-5">
  <div class="footer  m-4 ">
    <div class="row p-4">
      <!-- Brand/Logo -->
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
        <h5 class="text-uppercase fw-bold">Mithla</h5>
        <p>
          Sharing ideas. Connecting minds.
        </p>
      </div>

      <!-- Useful Links -->
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
        <h5 class="text-uppercase fw-bold">Links</h5>
        <ul class="list-unstyled">
          <li><a href="/main" class="text-white text-decoration-none">Home</a></li>
          <li><a href="/about" class="text-white text-decoration-none">About</a></li>

          <li><a href="/contact" class="text-white text-decoration-none">Contact</a></li>
           <li><a href="/term-condition" class="text-white text-decoration-none">Terms conditions</a></li>
            <li><a href="/privacy-policy" class="text-white text-decoration-none">Privacy policy</a></li>
        </ul>
      </div>

      <!-- Social Media -->
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
        <h5 class="text-uppercase fw-bold">Follow Us</h5>
        <a href="#" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="text-center p-3 bg-secondary">
    © Mithla. All rights reserved.
  </div>
</footer>