<nav class="navbar nav-bar sticky-top mb-4"> 
  <div class="container-fluid">
    <a class="nav-link active nav-items " aria-current="page"  href="/student/attendance">

   <img src="/images/logo.png" width="50px" height="50px" style="border-radius: 50px; margin-left: 24px">
   </a>
                    <div class="ms-5 mt-2" >
                    <h2 class="text-2xl font-bold text-center text-black">Attendance Portal</h2>
                    <p class="text-center text-black nav-line">Aligarh College of Engineering & Technology</p>
                </div>
    <button class="navbar-toggler ms-4 mb-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">ACITIANS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 font-bold">
          <li class="nav-item">
            <a class="nav-link active nav-items ms-2" aria-current="page"  href="/student/attendance">Home</a>
          </li>
           <li class="nav-item  nav-items">
            <a class="nav-link ms-2" href="/profile"><span class="me-2">Profile</span><i class="fa-solid fa-user fa-shake"></i></a>
          </li>

           
         
             
        
         
          <li class="nav-item">
            <a class="nav-link nav-items" href="/student/attendance/status/check"> Check status</a>
          </li>
         
            
          <li class="nav-item">
            <a class="nav-link nav-items" href="/student/attendance/subject/check"> Check Subject</a>
          </li>

               
          <li class="nav-item">
            <a class="nav-link nav-items" href="/student/add/feed"> Add feed</a>
          </li>

          <li class="nav-item">
            <a class="nav-link nav-items" href="/student/show/feed"> Show feed</a>
          </li>
 

       
         
          
         <li class="nav-item mt-2 nav-items">
            <a class="nav-link ms-4 " href="/student/logout"><i class="fa-solid fa-right-to-bracket fa-shake"></i></a>
          </li>
        </ul>
      
      </div>
    </div>
  </div>
</nav>



